.header {
  background-image: url(/src/Components/assets/images/images.jpg);
}



.navbar ul {
  margin: 4;
  display: flex;
  list-style: none;
  align-items: center;
}



.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}


.navbar li a:hover {
  color: #f5bb47; /* Remplacez cette couleur par celle souhaitée pour les états de survol et actif */
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 150px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul li:hover > a {
  background-color: #ffc451;
}

.navbar .dropdown ul:hover {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  visibility: hidden;
}

.navbar .dropdown .dropdown ul:hover {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.get-started {
  color: #fff;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #ffc451;
}

.get-started .btn:hover {
  background: #ffbb38;
  color: #343a40;
}